@import url('https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hepta Slab', serif;
}

.header{
  background-color: rgba(102,102,102,.76);
  position: fixed;
  width:20%;
  padding: 20px;
  height: 100vh;
}
.name{
  display: inline-block;
  color:white;
}
.lista{
color:white;
font-size: 1.2em;
margin: 10px;
}
.listado{
  position: absolute;
  top:40%;
  left: 20%;
}
.fa-digital-ocean{
  color: rgb(100,25,140);
  font-size: 25px;
}

footer{
  height: 10vh;
  position: absolute;
  width: 100%;
  top:90%;
  background-color: black;
  color: white;
}
.carousel{
  width: 100%;
  height: 100vh;
  position:relative;
  z-index: -100;
}
.texto{
  position:absolute;
  top:20%;
  left:35%;
  color: white;
  font-size: 2em;
}

.container-login{
position: absolute;
top:35%;
left:35%;
background-color:  rgba(102,102,102,.76);
margin: 0 auto;
padding: 20px;
border-radius: 10px;
color: white;
}
.submit-login{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.btn-link{
  color: white;
  font-size:10px;
  display: flex;
  justify-content: center;
}
